body {
    background: #0019ff;
}

.logotype {
    width : 100vw;
}

.image {
    width : 50vw;
}

.bottom-now {
	position: absolute;
    bottom: unset;
    left: 0%;
    transform: translate(0%, -100%);
}

.bottom {
	position: absolute;
    bottom: 0%;
    left: 0%;
    transform: translate(0%, 0%);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Neue Haas Grotesk Display Pro', Sans-Serif;
    font-weight: 500;
    color: white;
}

span {
    background: #0019ff;
}